@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.ngqp2k {
    color: bisque;
    text-align: center;
    margin-top: 8rem;
}

#nameNQP {
    text-align: left;
    /* margin-left: 100px; */
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 7px;
}

#nameS {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;

}

#nameP {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}

.myContainer {
    padding: 5rem;
    overflow: auto;

}

#left_Info {
    max-width: 60%;
    float: left;
    padding-left: 3rem;
}

#right_Pic {
    max-width: 40%;
    float: right;
}

#myImage{
    padding-left: 1%;
}

#st01 {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}